# Last.fm User Exploratory Data Analysis

note: explore bivariate analysis between artist's play count and their location, include more interpretations later to make it more professional

## Setup and Load Dataset

In [8]:
import pandas as pd
import matplotlib as plt

In [6]:
# read in user data
file_path = r'C:\Users\radia\Documents\4th year\w_23\dsc180b_w23\filtered_user_df.csv'
user_df = pd.read_csv(file_path)

In [7]:
# drop unnecessary

,Unnamed: 0,Unnamed: 0.1,user,artist_name,play_count,artist_url
0,0,0,nyancrimew,Jasmine Thompson,7559,https://www.last.fm/music/Jasmine+Thompson
1,1,1,nyancrimew,Eminem,5851,https://www.last.fm/music/Eminem
2,2,2,nyancrimew,Watsky,3044,https://www.last.fm/music/Watsky
3,3,3,nyancrimew,Linkin Park,2938,https://www.last.fm/music/Linkin+Park
4,7,7,nyancrimew,twenty one pilots,1849,https://www.last.fm/music/twenty+one+pilots

In [ ]:
# display data
user_df.head()